ul {
  position: relative;
  border: 1px solid black;
  list-style: none;
  padding: 20px;
}
li {
  display: flex;
}
form {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
/* input {
  margin: 20px;
} */
button {
  margin-top: 50px;
  width: 100px;
  padding: 10px;
  font-weight: bold;
  background: white;
}
#new-post {
  display: grid;
  grid-template: 1fr 1fr 2fr / 2fr 1fr;
}











.user-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.user-auth {
  flex-direction: row;
  justify-content: flex-end;
  border-left: none;
  border-right: none;
  position: relative;
}

ul.user-auth li {
  margin-left: 50px;
}

.user-auth h1 {
    text-align: center;
    margin-bottom: 20px;
}

li.posts-nav {
  position: absolute;
  left: 0;
}

.post-new {
  width: 100vw;
}